/*Colors to use:
white
f2902d - Yacht Club Games' orange color in logo
333333 - good dark gray to contrast the color of the orange
00acc6 - contrasting blue, good for Gunvolt hover(game)
2a6a99 - darker blue, for Shovel Knight hover (game)
662d91 - good contrasting purple, works well with the orange*/

/*TO DO LIST:
  Tailor page to audience -
  3 proper calls to action -
  Large volume of text, tables, forms, etc. -
  Good variety of content -
  Easy to navigate -
  4 high quality images -
  Style is as good or better than current site -
  Mobile friendly - */

  body {
    background-color: white !important;
  }

  h2 {
    color: white;
  }

  p {
    color: #662d91;
  }

  .header {
    background-color: #f2902d !important;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 100px;
  }

  #logo {
    float:left;
  }

  hr {
    color: #bbbbbb;
    z-index: 7;
  }

  .breakline {
    width: 100%;
    margin-top: 200px;
    position: fixed;
  }
