/*Colors to use:
white
ff8b00 - Yacht Club Games' orange color in logo
333333 - good dark gray to contrast the color of the orange
00acc6 - contrasting blue, good for Gunvolt hover(game)
2a6a99 - darker blue, for Shovel Knight hover (game)
662d91 - good contrasting purple, works well with the orange*/

/*TO DO LIST:
  Tailor page to audience -
  3 proper calls to action -
  Large volume of text, tables, forms, etc. -
  Good variety of content -
  Easy to navigate -
  4 high quality images -
  Style is as good or better than current site -
  Mobile friendly - */

  * {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
  }

  body {
    background-color: white !important;
  }

  h2 {
    margin-bottom: auto;
    color: white;
  }


  p {
    color: #662d91;
  }

  .header {
    align-self: center;
    background-color: #ff8b00 !important;
    position: relative;
    margin: auto;
    width: 100%;
    top: 0;
    height: 200px;
    z-index: 2;

  }

  #logo {
    float: left;
    width: 200px;
    height:  200px;
    padding-bottom: 28px;
    padding-right: 28px;
  }


  .recent-tweets {
    position: relative;
    padding: auto;
  }

  .playbutton {
    margin-left: auto;
    margin-right: auto;
  }
.topnav{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  list-style: none;
  /* margin: 0 2px; */
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.header{
  position: relative;
}
  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  position: block;

  margin-top: 0px;
  width: 20%;
  padding: 0px;
  height: 100%;
}

#center {
  width: 60%;
  z-index: -2;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul.topnav {
  list-style-type: none;
  margin-top: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #2a6a99;}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff8b00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffab44;
}

.container {
  align-self: right;
  margin-right: 0;
  width: 250px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.footer {
  margin: auto;
  text-align: center;
  line-height: 0;
}

#formdiv {
  width: 50%;
}


@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {margin: auto !important;}
}
